body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header {
    background: #e6f7ff;
    color: #333;
    padding-top: 20px;
    padding-bottom: 20px;
}

header h1 {
    margin: 0;
}

section {
    padding: 20px 0;
    opacity: 0; /* Initially hide all sections */
    transform: translateY(20px); /* Move sections down slightly */
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out; /* Smooth transition */
}

section.show {
    opacity: 1; /* Fade in */
    transform: translateY(0); /* Move to original position */
}

#experience {
    background: #fff;
}

#projects {
    background: #f0f0f0;
}

#publications {
    background: #fff;
}

#skills {
    background: #e6f7ff;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}

.experience-item {
    margin-bottom: 20px;
    padding: 10px;
    border-left: 5px solid #b3d9ff; /* Accent color */
}

.date {
    font-style: italic;
    color: #666;
}
