/* Global styles */
body {
    font-family: Arial, sans-serif;
    color: #333; /* Dark text */
    background-color: #f8f8f8; /* Light gray background */
    margin: 0;
    padding: 0;
    text-align: center;
}

/* Header */
header {
    background-color: #222;
    color: white;
    padding: 20px;
}

/* Sections */
section {
    padding: 50px 20px;
    margin: 20px auto;
    width: 80%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Headings */
h1, h2 {
    color: #222;
}
